#mainimage{
    position: relative;
    color: white;
}
#back{
    position: absolute;
    right: 120px;
    top: 50px;
    z-index: 1;
    font-size: 32px;
    font-weight: 700;
}
#back:hover{
    color: grey;
}
a{
    color: white;
    text-decoration:none ;
}
#mainimage>img{
    height: 600px;
    width: 100vw;
    filter:brightness(50%) ;
    z-index: -1;
}

.textonimg{
    font-weight: 800;
    font-size: 86px;
   color: white;
   position:absolute;
   top: 200px;
   left: 160px;
   z-index: 1;
}

#destination{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 500px;
    /* border: 1px solid white; */
}

#data>h3{
    font-size: 26px;
padding-left: 70px;
padding-top: 70px;
}

#data h1{
    padding-left: 70px;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 600;
}

#data h2{
    padding-left: 70px;
    padding-top: 30px;
}
#data p{
    font-size: 24px;
    padding-left: 70px;
    padding-top: 20px;
}
#datah3{
    /* padding-top: 30px; */
    margin-right: 15px;
    display: inline-block;
}

#datah3:hover{
    color: grey;
}

#data img{
    padding-top: 70px;
}
#img>img{
    padding-left: 80px;
    height: 460px;
    width: 650px;
    padding-top: 60px;
    padding-bottom: 20px;
}
#img h4{
    padding-left: 80px;
    padding-right: 90px;
    font-size: 12px;
    /* color: grey; */
    font-weight: 100;
}
#spacestationexpedition{
    position: relative;
    color: white;
    height: 700px;
    margin-top: 80px;
}
#spacestationexpedition>img{
   
    filter: brightness(50%);
    height: 700px;
    width: 100vw;
    z-index: -1;
}
#spacestationexpedition h1{
  color: white;
    position:absolute;
    bottom: 450px;
    left: 60px;
    z-index: 1;
    font-size: 80px;
    font-weight: 800;
}
#spacestationexpedition p{
    font-size: 26px;
    position: absolute;
    z-index: 1;
    bottom: 200px;
    padding-left: 60px;
    padding-right: 900px;
}
#whytogospace{
    color: white;
    height: 500px;
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 70px;
}
#spacedata h1{
    font-size: 50px;
padding-top: 70px ;
padding-bottom: 30px;
}
#spacedata h3{
    padding-bottom: 20px;
    font-size: 30px;
}
#spacedata p{
    font-size: 24px;
}
#spaceimg>img{
    padding-left: 80px;
    padding-top: 90px;
    height: 360px;
    width: 680px; 
}
#spaceimg p{
    padding-left: 80px;
    padding-top: 40px;
}
#morehumansinspace{
    height: 800px;
    /* border: 2px solid white; */
    color: white;
}
#morehumansinspace>h1{
    font-size: 46px;
padding-top: 20px ;
padding-left: 70px;
    font-weight: 800;
}
#mainspace{
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 70px;
    margin-top: 70px;
    margin-right: 90px;
    
}
#imgspace1{
    filter: brightness(40%);
    height: 390px;
    width: 750px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    z-index: -1;
    transition: 0.4s ease;
}
#imgspace1:hover{
    cursor: pointer;
    transform: scale(1.02);
}
#imgspace2{
    filter: brightness(40%);
    z-index: -1;
    height: 390px;
    width: 500px;
    display: inline-block;
    transition: 0.4s ease;
}
#imgspace2:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.inspaceimg #in1{
    position: absolute;
    bottom: 80px;
    left: 60px;
}
.inspaceimg #in2{
    position: absolute;
    bottom: 80px;
    left: 780px;
}
.inspaceimg #in3{
    position: absolute;
    z-index: 1;
    left: 60px;
    bottom: 40px;
}
.inspaceimg #in4{
    position: absolute;
    z-index: 1;
    left: 780px;
    bottom: 40px;
}
.inspaceimg #in5{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 60px;
   
}
.inspaceimg #in6{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 780px;
}
#morehumansinspace #moredata{
    margin-top: 20px;
    margin-left: 139px;
    margin-right: 100px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    height: 120px;
    /* border: 1px solid white; */
}
#moredata .img{
    margin-left: 15px;
    margin-top: 19px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#more1{
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}
#more2{
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}
#more3{
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}
#morea2 h3{
    margin-left: 0px;
    margin-top: 19px;
} 
 #more2b h3{
    margin-left: 0px;
    margin-top: 19px;
} 
 #more3c h3{
    margin-left: 0px;
    margin-top: 19px;
}
#slogan{
    background-color:darkblue;
    height: 400px;
    color: white;
    font-size: 40px;
    padding-left: 120px;
    padding-top: 140px;
}

#footer{
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-left: 70px;
    margin-top: 50px;
    color: white;
    padding: 10px;
}
#gototop:hover{
    color: grey;
}

#gototop{
   
 margin-left: 490px;
    margin-top: 40px;
   font-size: 20px;
}
#text{
    font-size: 26px;
    padding-top: 25px;
    padding-left: 70px;
}

