.auth {
    grid-area: b;
    width: 475px;
    height: 475px;
    overflow: hidden;
    position: relative;
    transition: 500ms ease;
}

.auth #logo {
    width: 50%;
    opacity: 0.9;
    transition: all 500ms ease;
    object-fit: cover;
}

.auth:hover #logo {
    scale: 1.05;
    translate: 0 -70%;
}

.auth:hover .glass-btn {
    opacity: 1;
}

.glass-btn {
    position: absolute;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 1;
    width: 150px;
    aspect-ratio: 1;
    transition: all 300ms ease-in-out;
    cursor: var(--pointer), auto;
}

.glass-btn:active {
    scale: 0.95;
}

.auth:hover .up {
    translate: -70% 70%;
}

.auth:hover .in {
    translate: 70% 70%;
}

.glass-btn > img {
    width: 100px;
    opacity: 0.3;
    transition: opacity 300ms ease-in-out;
}

.glass-btn > h2 {
    margin: 0.1rem;
    color: #FFFFFF;
    opacity: 0.5;
    transition: opacity 300ms ease-in-out;
}

.glass-btn:hover > img, .glass-btn:hover > h2 {
    opacity: 1;
}

.sign-up, .sign-in {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: all;
    transition: all .4s ease;
}

.hidden {
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}

.hidden-display {
    display: none;
}

.hidden-opacity {
    opacity: 0;
}

.auth-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.sign-up input, .sign-in input {
    all: unset;
    cursor: var(--text), auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 230px;
    transition: all 200ms ease;
    background: white;
    opacity: 0.7;
}

.sign-up input:focus, .sign-in input:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    opacity: 1;
}

.sign-up div, .sign-in div {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.sign-up button, .sign-in button {
    all: unset;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 100ms ease;
    opacity: 0.7;
    cursor: var(--pointer), auto;
}

.sign-up button:focus, .sign-in button:focus {
    outline-offset: 2px;
    opacity: 1;
}

button[type="submit"] {
    background: teal;
    color: white;
}

button[type="submit"]:focus {
    outline: 2px solid teal;
}

button[type="reset"] {
    background: white;
    color: black;
}

button[type="reset"]:focus {
    outline: 2px solid white;
}