@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&display=swap');

header {
    position: sticky;
    display: flex;
    color: #FFF;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #000;
    font-variant: small-caps;
    align-items: center;
    justify-content: space-between;
    border-block: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding-inline: 50px;
}

a {
    cursor: var(--pointer), auto;
    text-decoration: none;
}

.header-logo {
    color: white;
}

#spaced {
    cursor: var(--pointer), auto;
    width: 200px;
}

.social {
    transition: all 300ms ease;
}

.social:hover {
    scale: 1.05;
}