main {
    z-index: 10;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #111;
}

.main-header {
    justify-content: center;
    align-items: center;
    background: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.main-header > a {
    margin-right: 10px;
}

.blob {
    position: absolute;
    background: linear-gradient(90deg, teal, rebeccapurple);
    width: 300px;
    aspect-ratio: 1;
    translate: -50% -50%;
    border-radius: 50%;
    opacity: 0;
    animation: blob-rotate 10s ease infinite;
    transition: opacity 500ms ease;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(100px);
}

main:hover .blob {
    opacity: 1;
}

@keyframes blob-rotate {
    25% {
        scale: 1 1.1;
    }
    50% {
        scale: 1 1;
    }
    75% {
        scale: 1.1 1;
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.glass-panel {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0.7rem;
    box-shadow: 0 0 .5rem;
}

.container {
    position: relative;
    margin: 90px auto;
    height: 475px;
    width: 90%;
    gap: 75px;
    display: grid;
    grid-template-areas: 'b c c' 'b c c';
}

.carousel-container {
    flex: 4;
    height: 475px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.carousel-slide {
    flex: 1 0 683px;
    height: 470px;
    transition: all 500ms ease;
}

.carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .container {
        grid-template-areas: 'b' 'c';
    }
}