@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: var(--dark-bg);
    cursor: var(--cursor), auto;
}

button {
    cursor: var(--pointer), auto;
}

input[type="text"] {
    cursor: var(--text), auto;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cursor: url("../../img/cursor/cursor.png");
    --text: url("../../img/cursor/text.png");
    --pointer: url("../../img/cursor/pointer.png");
    --nested-cursor: url("../../../img/cursor/cursor.png");
    --nested-text: url("../../../img/cursor/text.png");
    --nested-pointer: url("../../../img/cursor/pointer.png");
    --dark-bg: #1b2025;
    --light-bg: #f3f6f9;
}

::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar:horizontal {
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

* {
    scrollbar-color: #888 #111;
    scrollbar-width: thin;
}