.dates-container {
    opacity: 0;
    scale: 0.95;
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s ease;
    cursor: var(--nested-cursor), auto;
}

.date-card {
    cursor: var(--nested-pointer), auto;
    overflow: hidden;
    display: grid;
    width: 150px;
    height: 150px;
    background: white;
    box-shadow: 0 0 .7rem;
    border-radius: .75rem;
    border: 1px solid white;
    transition: all 300ms ease;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
}

.month-card {
    grid-column: span 2;
    font-size: 2rem;
    font-weight: 700;
}

.day-card {
    background: black;
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

.month-card, .day-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-card:active {
    scale: 0.9;
}
