.carousel-container {
    width: 800px;
    margin: auto;
    height: 475px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(255,255,255,0.4);
    justify-content: unset !important;
    align-items: unset !important;
}

.carousel-slide {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.carousel-image {
    flex: 1 0 100%;
    background-repeat: no-repeat;
    background-origin: initial;
    background-size: cover;
    height: 100%;
    transition: all 500ms ease;
}

.carousel-image:hover {
    scale: 1.04;
}

.slider-nav-btn {
    all: unset;
    top: 50%;
    width: 50px;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    border-radius: 0.5rem;
    transform: translateY(-50%);
    transition: opacity 300ms ease;
}

.slider-nav-btn > img {
    height: 50px;
}

.slider-nav-btn:hover {
    opacity: 0.9;
}

.slider-nav-btn:active {
    transform: translateY(-52%);
    scale: 0.95;
}

#nextBtn {
    z-index: 5;
    right: 10px;
}

#prevBtn {
    z-index: 5;
    left: 10px;
}

#nextBtn:hover ~ .r-overlay {
    opacity: 1;
}

#prevBtn:hover ~ .l-overlay {
    opacity: 1;
}

.l-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity 500ms ease;
    background: linear-gradient(to right, #111111, transparent);
}

.r-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity 500ms ease;
    background: linear-gradient(to left, #111111, transparent);
}

.slider-nav-dots {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.dot {
    display: none;
}

.dot + label {
    opacity: 0.5;
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.dot:checked + label {
    opacity: 0.8;
    border-color: transparent;
    background-color: white;
    width: 7px;
    height: 7px;
    border-radius: 2px;
}

.dot:hover + label {
    opacity: 0.8;
}
