.carousel-container {
    width: 800px;
    margin: auto;
    height: 475px;
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    width: 800px;
    height: 100%;
    /*scroll-snap-type: x mandatory;*/
    /*scroll-behavior: smooth;*/
    display: flex;
    flex-direction: row;
}

.carousel-image {
    flex: 1 0 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    transition: all 500ms ease;
}

.slider-nav-btn {
    all: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    opacity: 0.5;
    transition: opacity 300ms ease;
}

.slider-nav-btn:hover {
    opacity: 0.9;
}

.slider-nav-btn:active {
    transform: translateY(-52%);
    scale: 0.95;
}

#nextBtn {
    right: 10px;
}

#prevBtn {
    left: 10px;
}