.two {
    display: flex;
    align-items: center;
}

.blur-div {
    padding-inline: 30px;
    padding-block: 30px;
    width: 80%;
    height: 80%;
    border: 2px solid white;
    border-left: 50px solid #DDD;
    border-radius: 0 20px 20px 0;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 1rem;
}

.blur-div h2 {
    width: fit-content;
    border-bottom: 4px solid white;
    color: white;
    font-variant: small-caps;
    font-size: 2.5rem;
}

.main-box {
    margin-top: 50px;
    width: 80%;
    height: 79%;
    display: grid;
    gap: 10px;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-box-tab {
    /*background: #EEE;*/
    backdrop-filter: blur(50px);
    border: 1px solid white;
    border-radius: .75rem;
    box-shadow: 0 0 1rem;
}

.main-box-content {
    background: #EEE;
    border: 2px solid white;
    grid-row: span 3;
}

.main-box-active {
    background: #FFF;
}

.tab-btn {
    all: unset;
    background-clip: text;
    background: url("../../img/icon/rocket.png");
}

/* Voyage Title */

.voyage-title {
    position: relative;
    width: fit-content;
}

.white-bar {
    position: absolute;
    background: white;
    height: 4px;
    width: 3.5rem;
    transition: all .5s ease;
}

.bar-a {
    left: 0;
}

.bar-b {
    right: 0;
}

.voyage-title:hover .white-bar {
    width: 5rem;
}
