.welcome {
    width: 100vw;
    height: 99svh;
}

.bg-video {
    position: fixed;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*filter: blur(5px);*/
}

.astronaut {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 600px;
    animation: MoveUpDown 5s linear infinite;
}

.asteroid {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    width: 150px;
    aspect-ratio: auto;
    transition: all 1s ease;
}

.A {
    top: 20%;
    left: 60%;
}

.B {
    width: 150px;
    top: 50%;
    left: 50%;
}


@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}