.division {
    position: relative;
    width: 100vw;
    height: 100svh;
}

.bg-video {
    position: fixed;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.astronaut {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 600px;
    animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.glass-terminal {
    position: absolute;
    width: 600px;
    height: 320px;
    left: 100px;
    padding: 30px;
    bottom: 100px;
    box-shadow: 5px 5px 0.5rem;
    border-radius: 0.7rem;
    border: 2px solid white;
    backdrop-filter: blur(25px);
}

.glass-terminal p {
    color: white;
    font-size: 1.5rem;
    font-family: monospace;
}

@keyframes typewriter {
    0% { opacity: 1; width: 0 } 100% { opacity: 1 }
}
